<form class="grid-container" action="/api/composts" method="POST">
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <label>Name:</label>
      <input type="text" id="id" name="name" style="width: 30%">
    </div>
    
    <input type="integer" name="OwnerId" value="{{id}}" style="display:none">
 
  </div>

  <br>

  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
       <div class="small-12 medium 8">
         <label>Description:</label>
      <textarea name="description" cols="30" rows="10" placeholder="Describe the type of compost"></textarea>
    </div>
    </div>
  </div>


  <button class="button float-center">Post</button>

</form>