<form class="grid-container" action="/api/compost" method="POST">
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <label>Name:</label>
      <input type="text" id="id" name="name" style="width: 30%">
    </div>
    
    <label>Owner Id</label>
    <input type="integer" name="OwnerId" value="{{id}}">
 
  </div>

  <br>

  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <label>Address:</label>
      <input type="text" name="length" style="width: 30%">
    </div>
  </div>


  <button class="button float-center">Post</button>

</form>