<div class="grid-x grid-padding">
  <div class="row grid-x small-12 large-6 large-offset-3 align-center align-middle">
    <div class="card small-12 medium 8">
      <h4>Message owner of {{gardenName}}</h4>
      <br>
      <label for="email">Email Address:</label>
      <input name="email" id="email">
      <br>
      <textarea name="emailBody" cols="30" rows="10" id="userInput" placeholder="Type Email here"></textarea>

      <br>
      <input style="display:none;" name="gardenId" value="{{gardenId}}">

      <button class="button float-center" id="emailBtn">Email</button>

      </div>
    </div>
  </div>
</div>