<form class="grid-container" action="/api/gardens" method="POST">
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <label>Patch Name:</label>
      <input type="text" id="id" name="name">
    </div>
    
    <input type="integer" name="OwnerId" value="{{id}}" style="display:none">
 
  </div>

  <br>

  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <label>Patch size :</label>
      Length <input type="Integer" name="length"> ft * Width <input type="Integer" name="width"> ft
    </div>
  </div>


  <br>

  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <textarea name="description" cols="30" rows="10"></textarea>
    </div>
  </div>

  <br>

  <button class="button float-center">Post</button>

</form>