  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <h4>Welcome to Patched!</h4>
    </div>
  </div>
  <br>
<a href="/owners/signup">
    <button id="addOwner" class="button float-center">Add an Owner!</button>
</a>
<a href="/gardeners/signup">
    <button id="addGardener" class="button float-center">Add a Gardener!</button>
</a>
<a href="/gardens/add">
    <button id="addGarden" class="button float-center">Add a garden!</button>
</a>
<a href="/composts/add">
    <button id="addCompost" class="button float-center">Add a compost!</button>
</a>
<a href="/map">
    <button id="addCompost" class="button float-center">View Map!</button>
</a>
<a href="/profile/1">
    <button id="addCompost" class="button float-center">View Profile for Owner #1!</button>
</a>
