<div class="grid-x grid-padding-x">
  <div class="small-12 medium 8">

    <div class="marketing-site-hero">

      <div class="marketing-site-hero-content">
      
        <div class="subheader">
          <h1 style="color:white">Welcome to Patched</h1>
          <p style="color:white">Lorem ipsum dolor sit amet, consecteturewe ering elit. Aperiam omnis,
            maxime libero natus qui minus!Lorem ipsum dolor sit amet,reef r adipisicing elit. Aperiam omnis, maxime
            libero
            natus inus!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime!!</p>
            <a href="/map"><img src="/images/lg_MapIcon.png" alt="MapIcon" id="mapIcon"></a>
        </div>
      </div>
    </div>
  </div>
</div>
