<form class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium 8">
            <!-- show garden name -->
            <label>Patch Name :</label>
            <pre>{{this.name}}</pre>

        </div>
    </div>

    <br>


    <div class="grid-x grid-padding-x">
        <div class="small-12 medium 8">
            <label>Patch size :</label>
            <pre>{{this.length}} * {{this.width}}</pre>
        </div>
    </div>

    <br>

    <div class="grid-x grid-padding-x">
        <div class="small-12 medium 8">
            <label>Describtion :</label>
            <pre>{{this.description}}</pre>
        </div>
    </div>

<!-- need to add eventlistener to pop up email -->
    <button class="button float-center">Email</button>

</form>