<div class="grid-x grid-padding">
    <div class="row grid-x small-12 large-6 large-offset-3 align-center align-middle">
        <div class="card row small-12 medium-8">

            <form action="{{route}}" method="POST">

                <label><strong>User Name:</strong></label>
                <input type="text" id="userInput" name="username" placeholder="User Name">



                <label><strong>Password:</strong></label>
                <input type="password" id="userInput" name="password" placeholder="Password">
                <p class="help-text"><strong>Your Password must be at least 8 characters</strong></p>


                <br>
                <div class="text-center">
                <button class="button float-center" id="logInBtn" type="submit" style="border-radius:15px;background-color: #7F9174;color:white">Log In</button>
                {{#if (isEqual route "/gardeners/login")}}
                    <a href="/gardeners/signup" class="button" id="userInput">Sign Up</a>
                {{else}}
                    <a href="/owners/signup" class="button" id="userInput">Sign Up</a>
                {{/if}}
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $("#logInBtn").on("click", function (event) {
        event.preventDefault();
        $.ajax({
            url: "{{route}}",
            type: "POST",
            data: {
                username: $("[name=username]").val(),
                password: $("[name=password]").val()
            }
        }).then(function(response) {
            if({{route}}==="/owners/login"){
            window.location.href="/profile/"
            } else {
                window.location.href="/map"
            }
        }).fail(function(response) {
            alert("Incorrect Password/Username")
        })
    });
</script>