<div class="grid-x grid-padding">
    <div class="row grid-x small-12 large-6 large-offset-3 align-center align-middle">
        <div class="card row small-12 medium-8">

            <form id="logInForm">
                <label><strong>User Name:</strong></label>
                <input type="text" id="userInput" name="username" placeholder="User Name">



                <label><strong>Password:</strong></label>
                <input type="password" id="userInput" name="password" placeholder="Password">
                <p class="help-text"><strong>Your Password must be at least 8 characters</strong></p>


                <br>
                <div class="text-center">
                <button class="button float-center" id="logInBtn" type="submit" style="border-radius:15px;background-color: #7F9174;color:white">Log In</button>
                <a href="/gardeners/signup" class="button" id="userInput">Sign Up</a>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#logInForm").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "{{route}}",
            method: "POST",
            data: {
                username: $("[name=username]").val(),
                password: $("[name=password]").val()
            },
            success: function (response) {
                if("{{route}}"==="/owners/login"){
                    window.location.href="/profile/{{id}}"
                } else {
                    window.location.href="/map"
                }
            },
            error: function(response) {
                alert("Incorrect username/password")
            }
        })
    });
});
</script>