<div class="row">
    <div class="twelve columns text-center">
        <img src="https://placekitten.com/300/300" class="text-center">
    </div>
</div>
<div class="card text-center">
    <div class="card-section">
        <p class="username">User Name: {{username}}</p>
        <p class="email">Email: {{email}}</p>
        <p class="address">Address: {{address}}</p>
    </div>

    <div class="row">
        <div class="text-center">
            <button class="success button" style="width: 10%">Share my Garden</button>
            <br>
            <button class="warning button" style="width: 10%">Share my Compost</button>
            <br>
            <button class="button">Edit</button>
        </div>
    </div>
</div>