<div class="grid-x grid-padding">
    <div class="row grid-x small-12 large-6 large-offset-3 align-center align-middle">
        <div class="card row small-12 medium-8">
            <h4 class="username">User Name: {{username}}</h4>
            <h4 class="email">Email: {{email}}</h4>
            <h4 class="address">Address: {{address}}</h4>
            <div class="requests" style="display:none;">
                <h4>Pending Requests:</h4>
            </div>
            <div class="text-center">
                <br>
                <a href="/gardens/add" class="button" id="gardenButton">Share my Garden</a>
                <a href="/composts/add" class="button" id="compostButton">Share my Compost</a>
                <br>
                <a class="button" id="gardenEditBtn"
                    style="border-radius:15px;background-color: #7F9174;color:white">Edit my Garden</a>
                <a class="button" id="compostEditBtn"
                    style="border-radius:15px;background-color: #7F9174;color:white">Edit my Compost</a>

                <br>
                <a href="/owners/edit" class="button" id="userInput" style="width: 20%">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.ajax({
            url: "/requests/{{GardenId}}",
            type: "GET"
        }).then(response => {
            if (response.length > 0) {
                $(".requests").css("display", "block")
                for (let i = 0; i < response.length; i++) {
                    $(".requests").append($("<span>").text(`${response[i].Gardener.username} would like to garden your patch ${response[i].Garden.name}. Click the Assign button to assign this patch to them.`))
                    let assignBtn = $("<button class='button' id='assignBtn'>").text("Assign")
                    assignBtn.attr("data-gardenId", response[i].Garden.id)
                    assignBtn.attr("data-gardenerId", response[i].Gardener.id)
                    $(".requests").append(assignBtn)
                }
            }
            $("#assignBtn").on("click", function () {
                $.ajax({
                    url: "/api/gardens/" + $(this).attr("data-gardenId"),
                    type: "PUT",
                    data: { GardenerId: $(this).attr("data-gardenerId") }
                }).then(result => {
                    console.log(result)
                    $.ajax({
                        url: "/requests/" + $(this).attr("data-gardenId"),
                        type: "DELETE"
                    }).then(response => {
                        console.log(response)
                        window.location.reload()
                    })
                })
            })
        })
        $("#gardenEditBtn").on("click", function () {
            $.ajax({
                url: "/gardens/edit",
                type: "GET"
            }).then(result=>{
                window.location.href = "/gardens/edit"
            })
            }).fail(err => {
                alert("You have no gardens")
        })
        $("#compostEditBtn").on("click", function () {
            $.ajax({
                url: "/compost/edit",
                type: "GET"
            }).then(result=>{
                window.location.href = "/composts/edit"
            }).fail(err => {
                alert("You have no composts")
            })
        })
    })
</script>