<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patched</title>
    <!-- Link to Foundation CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/script.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
</head>


<body>
    <div class="row">
        <div class="twelve columns text-center">
            <img src="https://placekitten.com/300/300" class="text-center">
        </div>
    </div>
    <div class="card text-center">
        <div class="card-section">
            <p class="username">User Name: CJ</p>
            <p class="email">Email: Cjohnson@email.com</p>
            <p class="address">Address: 1111 123st Seattle, WA 98105</p>
        </div>
    
        <div class="row">
            <div class="text-center">
                <button class="success button" style="width: 50%">Share my Garden</button>
                <br>
                <button class="warning button" style="width: 50%">Share my Compost</button>
                <br>
                <button class="button">Edit</button>
            </div>
        </div>
    </div>

    <!-- Link to Foundation Javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
      integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o="
      crossorigin="anonymous"
    ></script>
</body>

</html>