body {
    background-color: lightgrey;
}

.subheader{
  margin-top: 5rem
}

.topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
    background: #3f473f;
  }
  
  .topbar-sticky-shrink .menu {
    background: #3f473f;
  }
  
  .is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
  }
  
  [data-sticky] {
    width: 100%;
  }
  

  .marketing-site-hero {
    background: url("/images/gardenPicture.jpeg") top right no-repeat;
    height: 65vh;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-hero {
      background-position: center center;
    }
  }
  
  .marketing-site-hero-content {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .marketing-site-hero-content h1 {
    font-size: 32px;
  }
  
  .marketing-site-hero-content .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-hero-content {
      padding-left: 50%;
    }
  }
  strong{
    color:white;
  }

  #userInput {
    border-radius: 15px;
    background-color: #7F9174;
    color:white;
  }

  #gardenButton {
    border-radius: 15px;
    background-color: darkgreen; 
    width: 20%;
  }

  #compostButton {
    border-radius: 15px;
    background-color: darkorange;
    width: 20%;
  }

  .card {
    padding: 15px;
    margin: 40px;
    border-radius: 15px;
    background-color: #3f473f;
    color:white;
  }

  .switch-paddle{
    background-color: #7F9174;
  }
  
  .navbtn{
    color: white;
    background-color:  #747474;
    padding: .3rem;
    margin-top: 0.5rem;
    border-radius: 15px;
    margin-left: 1rem;
  }
 
  #mapIcon{
  position: inherit;
  right: 10%;
  }

  #mapIcon{
    width:200%;
    flex
  }
